.p-footer__copyright{
    color: #fff;
    font-family: noto-sans-cjk-jp,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 13px;
    margin-top:40px;
    line-height: calc(27.2/13);
    display: block;
}