@use '../../Foundation/extend';

.p-section__works{
    background:url(../img/works__background.png) no-repeat;
    background-size:cover;
    margin-top:60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom:57px;
    //アニメーションの設定
    transition: transform 0.5s linear;
    animation-duration: 1.5s;
    opacity: 0;
    &.effect{
    //アニメーションのextend
    @extend %fade-in-animation__bttom-to-top;
    //
    }
}
