.p-section__price__button{
    width:180px;
    height:56px;
    background:#DBCEA0;
    font-family: noto-sans-cjk-jp,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    margin-top:57px;
}