@use '../../Foundation/mixin';

.p-section__contact__wrapper{
    width:calc(335/375*100%);
    margin:0 auto;
    @include mixin.mq(pc){
        //width:calc(1136/1366*100%);
        width:100%;
    }
}