.p-section__design__contents__tittle{
    margin-top:20px;
    text-align: center;
    font-family: noto-sans-cjk-jp,sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: calc(27.2/18);
}