@use '../../Foundation/mixin';

.p-section__contact__heading2{
    font-family: noto-sans-cjk-jp,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    line-height: calc(39/26);
    @include mixin.mq(pc){
        font-size:36px;
    }
}