.p-section__design__contents__text{
    display: block;
    font-family: noto-sans-cjk-jp,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color:#2D2D2D;
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    text-decoration: underline;
    text-decoration-color: #2D2D2D;
    height: 50px;
}