.p-section__blog__heading2{
    text-transform: uppercase;
    font-family: noto-sans-cjk-jp,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    margin-bottom:18px;
    color: #fff;
    line-height: calc(54/36);
}