.p-section__works__text{
    font-family: noto-sans-cjk-jp,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: calc(39/26);
    text-align: center;
    color:#fff;
    width:calc(335/375*100%);
    margin:21px auto 41px;
}