@use '../../Foundation/mixin';

.p-section__price__img--pc{
    background:url(../img/price__img.png) no-repeat;
    width: 100%;
    height:300px;
    background-size: cover;
    display: none;
    @include mixin.mq(pc){
        display: block;
        height:545px;
        width:calc(835/1366*100%);
    }
}