.p-sidebar-menu__contact--icon{
    display: inline-block;
    width:30px;
    height: 21px;
    background-image: url(../img/sidebar-icon.png);
    margin-right: 8px;
    vertical-align: text-bottom;
}